table {
    border-collapse: collapse;
    width: 97%;
  }
  
th {
    padding-left: 5px;
    background-color: #F5F6FA;
    text-align: left;
  }  
td{
    padding-left: 5px;
    padding-top: 10px;
}
.status-design{
  border: none;
  padding: 5px;
}
.status-design:focus{
  outline: 0;
}
.status-design:hover{
  cursor: pointer;
}